html {
    font-size: 10px;
}
.fa {
    font-size: 2rem;
    padding: 5px;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ #menu{
    display: block;
}
.main-nav,
.links,
.controls {
    display: flex;
    flex-direction: row;
    color: #ffffff;
}
.main-nav {
    justify-content: space-around;
    flex-wrap: wrap;
}
.links li,
.controls li {
    list-style: none;
    padding-right: 50px;
}
.links li a {
    transition: 0.3s ease;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.links li a:hover {
    border-top: 4px solid #eeb013;
    border-bottom: 4px solid #eeb013;
    padding: 6px 0; 
}
.controls li i {
    transition: 0.3s ease;
}
.controls li i:hover {
    color: #eeb013;  
}


#toggle {
    display: none;
}
label {
    display: none;
}
.enter {
    display: flex;
    justify-content: center;
}
.enter-link {
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    border: 2px solid white;
    margin-top: 50px;
    padding: 30px;
    text-decoration: none;
    transition: all 0.7s;
    border-radius: 20%;
}
.enter-link:hover {
    transform: scale(1.6);
    border: 2px solid #eeb013;
}
h1 {
    text-align: center;
    font-family: Montserrat;
    color:  #141414;
    font-size: 14rem;
    font-weight: 700;
}
.main-header h1 { 
    margin-top: 100px;
    margin-bottom: 20px;
    color: #ffffff; 
}
.main-header h4 {
    color: #ffffff;
    text-align: center;
}
.h1top {
    font-weight: 90px;
}
h4 {
    font-family: CrimsonText;
    color:  #6f6f6f;
    font-size: 1.8rem;
    font-style: italic;
}
.welcome  {
    display:flex;
    margin-top: 125px;
}
.welcome-logo {
    margin-right: 125px;
}
.welcome-content {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
}
.welcome-logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.welcome-logos img{
    max-width: 100%;
    align-self: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
}
.welcome-a {
    text-decoration: none;
    border: 1px solid #141414;
    padding: 25px;
    display: inline-block;
    margin-top: 50px;
}
.welcome-a:hover {
    border: 1px solid #eeb013;
}

h2 {
    font-family: Montserrat;
    color:  #141414;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 60px;
}
.welcome-content h2{
    text-transform: uppercase;
}
p {
    font-family: Montserrat;
    color:  #6f6f6f;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 30px;
}
h3 {
    font-family: Montserrat;
    color:  #141414;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
}   
.section-header {
    text-align: center;
}
.icon-ham {
    display: inline-block;
    position: relative;
}
.icon-ham::after,
.icon-ham::before {
    content: "";
    display:block;
    height:2px;
    width: 80px;
    position: absolute;
    background: #6f6f6f;
    left:-90px;
    top:10px;
}
.icon-ham::after {
    left: auto;
    right:-90px;
}
.works-nav {
    display: flex;
    justify-content: center;
    list-style: none;
}
.works-nav li {
    padding:10px;
    font-family: Montserrat;
    color:  #141414;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid black;
    margin-left: 20px;
}
.works-nav li:hover {
    border: 1px solid #eeb013;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery li {
    list-style: none;
    position: relative;
}
.gallery li img{
    display: block;
    width: 100%;
}
.gallery ul {
    padding: 0;
    margin: 0;
}
.overlay {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.7);
	color: white;
	padding: 60px 25px;
    display: none;
    z-index: 99;
}
.gallery li:hover .overlay {
	display: block;
}
.services-content h2 {
    text-transform: uppercase;
}
.service-wrap {
    display: flex;
    margin-bottom: 60px;
}
.services-detail ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.services-detail ul li{
    display: flex;
    width: 33%;
}

.detail-icon  {
    display: inline-block;
    text-align: center;
}

.detail-text {
    margin:0;
}
.detail-text {
    float:right;
    margin-left: 50px;
    clear: both;
}
.detail-text h3 {
    margin:0;
}
.detail-text p {
    max-width: 370px;
}
.banner {
    background-color: #2f2f2f;
}
.banner ul {
    display: flex;
    justify-content: space-around;
    padding:0;
    list-style-type: none;
}
.stats li h2 {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 4.8rem;
    font-weight: 400;
    text-align: center;
}
.stats li h4{
    font-family: CrimsonText;
    color:  #ffffff;
    font-size: 1.8rem;
    font-style: italic;
    text-align: center;
}

.team-images ul li {
    background-repeat: no-repeat;
    list-style-type: none;
    padding-top: 310px;
    
}
.team-images ul li{
    /* display: flex; */
}
.team-images ul {
    display: flex;
    justify-content: space-around
}
.heather  {
    background: url("../assets/heather.jpg");  
    width: 100% 
}
.ryan {
    background: url("../assets/ryan.jpg");
    margin: 0 30px 0 30px;
    width: 100%;
}

.simon {
    background: url("../assets/simon.jpg");
    width:100%
}
.heather h3,
.ryan h3, 
.simon h3{
    border-top: 1px solid;
    /* padding-right: 275px; */
    color:#ffffff;
}

.team-images ul li,
.heather h4,
.ryan h4, 
.simon h4  {
    font-family: CrimsonText;
    color:  #ffffff;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 20px;
}

.team-content {
    display: flex;
    justify-content: space-between;
  
}
.team-con-text {
    width: 65%;
    text-transform: uppercase;
}
.team-button{
    /* display: flex;
    justify-content: center; */
}
.team-button a {
    border: 1px solid black;
    padding: 20px;
    position: relative;
    
}
.team-button {
    display: flex;
    margin: 0;
    align-self: center;
}
.client-images {
    display: flex;
    justify-content: space-around;
}
.client-content p {
    padding: 0 210px 0 210px;
}
.client-walker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.client-walker img {
    align-self: center;
}
.client-banner {
    background-color: #323232;
}
    
.client-inner {
    display: flex;
    justify-content: space-between;
}

.client-inner p {
    font-family: CrimsonText;
    color:  #ffffff;
    font-size: 3rem;
    font-style: italic;
}
.orange {
    color:  #eeb013;
}
.client-inner a{
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    background-color:  #eeb013;
    padding: 15px 40px 15px 40px;
    align-self: center;
}
.blog-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.blog-content {
    width: 25%;
    background-color:  #eaeaea;
}
.blog-content img{
    width:100%;
    display: block;
}
.blog-text {
    background-color:  #eaeaea;
    padding: 60px;
    width: 100%;
    
}
.clip-right {
    clip-path: polygon(100% 0, 100% 35%, 92% 50%, 100% 65%, 100% 100%, 0 100%, 0 0);
}
.clip-left {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 65%, 8% 50%, 0 35%);
}
.price-inner h3 {
    text-align: center;
}
.plans {
    display: flex;
    justify-content: space-between; 
}
.plan-box {
    width:25%;
    transition: all 0.3s;
}
.plan-box:hover {
    transform: scale(1.1);
}
.basic,
.business,
.premium,
.ultimate {
    margin: 20px;
    border: 1px solid black;
    padding: 20px;
}
.basic h1,
.business h1,
.premium h1,
.ultimate h1 {
    font-family: Montserrat;
    color:  #141414;
    font-size: 5rem;
    font-weight: 400;
}
.dollar {
    font-family: Montserrat;
    color:  #141414;
    font-size: 1.8rem;
    font-weight: 400;
}
.month {
    font-family: CrimsonText;
    color:  #303438;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 60px;
}
.basic, 
.business, 
.premium,
.ultimate {
    
}
footer {
    background-color: #202020;
}
.main-footer {
    display: flex;
}
.foot-col {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */
    /* border: 1px dashed white; */
}
.foot-info {
    display: flex;
    flex-direction: column; 
    width: 100%
}
.foot-info img {
    display: flex;
    align-self: flex-start
}
.foot-links {
    display: flex;
    flex-direction: column;
    
    width: 38%;
}
.foot-twitter {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.foot-instagram {
    display: flex;
    flex-direction: column;
    width: 35%;
}
.foot-col p {
    font-family: Montserrat;
    color:  #636363;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 24px;
    margin: 5px;

}
.foot-col h3 {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
}
.instagram-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.iii {
    width: calc(33% - 12px);
    margin: 2px;
}
.foot-social {
    color: white;
    padding: 5px;
}
.foot-none {
        display: flex;
}


@media (max-width: 480px) {
    
    html {
        font-size:8px;
        max-width: 480px;
    }
    h1{
        font-size:8rem;
    }
    label {
        display: block;
        cursor:pointer;
        font-size: 3rem;
        float: right;

    }
    
    .links {
        display: block;
    }
    .links li {
        text-align: center;
        width: 100%;
        display:none;
    }
    .links li a {
        display:flex;
        flex-direction: column;
        border-bottom: 4px solid black;
        /* border-bottom: transparent; */
        padding: 10px;
        width: 100%;
        margin:0;
        
    }
    #toggle:checked + .links li {
        display:block;
    }
    .controls {
        display: none;
    }
    .main-nav {
        display: block;
        padding: 20px;
    }
    .welcome-logo {
        display: none;
    }
    .welcome {
        margin-top: 50px;
    }
    .welcome-content {
        text-align: center;
    }
    .welcome-a {
        margin-top: 20px;
    }
    .works-nav li {
        text-align: center;
    }
    .works-nav { 
        flex-wrap:wrap;
    }
    .welcome-content p{
        padding: 0 5px 0 5px;
    }
    .works-nav,
    .gallery {
        padding: 0;
       
    }
    .gallery {
        display: none;
    }
    .gallery-mobile {
        list-style-type: none;
        padding: 0;
    }
    .works-nav li {
        margin: 0;
    }
    .service-wrap {
        flex-wrap: wrap;
        text-align: center;
    }
    .services-detail ul li {
        padding: 0px 40px;
    }
    .services-detail ul li {
        width: 100%;
    }
    .stats li h2 {
        font-size: 3.0rem;
    }
    .stats li h4{
        font-size: 1.5rem;
    }
    .team-images ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .heather,
    .ryan,
    .simon {
        background-size: cover;
        margin-bottom: 10px;
        width:75%;
    }
    .team-content {
        justify-content: center;
    }
    .client-content {
        display: none;
    }
    .client1,
    .client2,
    .client3{
        display: flex;
        flex-direction: row;
        padding: 0 10px;
    }
    .client-inner {
        flex-direction: column;
        padding: 0 25px 25px 25px;
    }
    .blog-content{
        width: 100%;
    }
    .plans {
    flex-wrap: wrap;
    }
    .plan-box {
    width: 40%;
    }
    .foot-none{
        display: none;
    }
    .main-footer {
    flex-wrap: wrap;
    }
    .foot-info {
        width: 100%;
    }
   
}

@media (min-width: 481px)and (max-width: 768px) {
    html {
        font-size:9px;
    }
    h1{
        font-size:8rem;
    }
    .controls {
        display: none;
    }
    .gallery-mobile {
        display: none;
    }
    .welcome-logo {
        display: none;
    }
    .welcome {
        margin-top: 50px;
    }
    .welcome-content {
        margin: 30px;
        text-align: center;
    }
    .works-nav { 
        flex-wrap:wrap;
        padding: 0;
    }
    .works-nav li {
        margin: 0;
    }
    .gallery {
        padding: 0;
    }
    .service-wrap {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .services-detail ul li {
        padding: 0px 40px;
    }
    .services-detail ul li {
        width: 100%;
    }
    team-images ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .heather,
    .ryan,
    .simon {
        background-size: cover;
        margin-bottom: 10px;
        width:57%;
    }
    .team-images ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .team-content {
        margin: 45px;
    }
    .client-mobile {
        display: none;
    }
    .client-content p {
        padding: 0 50px 0 50px;
    }
    .client-inner {
        flex-direction: column;
        padding: 0 25px 25px 25px;
    }
    .blog-content{
        width: 70%;
    }
    .plans {
    flex-wrap: wrap;
    }
    .plan-box {
    width: 40%;
    }
    .foot-none{
        display: none;
    }
    .main-footer {
    flex-wrap: wrap;
    }
    .foot-info {
        width: 100%;
    }
}

@media (min-width: 769px)and (max-width: 868px) {
    h1{
        font-size:7.5rem;
    }
    .controls {
        display: none
    }
    .gallery-mobile {
        display: none;
    }
    .client-mobile {
        display: none;
    }
    .team-images ul {
        display: flex;
        justify-content: space-around;
    }
    .blog-content{
        width: 70%;
    }

}
@media (min-width: 868px)and (max-width: 965px) {
    .controls {
        display: none;
    }
    h1{
        font-size:7.8rem;
    }
    
    
}
@media (min-width: 869px)and (max-width: 1280px) {
    
    h1{
        font-size:7.8rem;
    }
    .gallery-mobile {
        display: none;
    }
    .client-mobile {
        display: none;
    }

    .blog-content {
        width: 42%;
    }
    .blog-text {
        background-color: #eaeaea;
        padding: 20px;
    }
    .blog-text h4,
    .blog-text h2 {
        margin: 0;
    }
    .blog-text p {
        line-height: 20px;
    }
}
@media (min-width: 1281px)and (max-width: 4000px) {

    .blog-text h2,
    .blog-text h4,
    .blog-text p {
        margin:0;   
    }
    .blog-text {
        padding: 10px; 
    }
    .blog-text {
        line-height: 25px;
    }
    .gallery-mobile {
        display: none;
    }
    .client-mobile {
        display: none;
    }

}
